<h3>ユーザ一管理</h3>

<p><%= link_to "アカウント作成", signup_path %></p>

<ul>
<% @users.each do |user| %>
<li>
    <%= user.id %>
    <%= user.enpno %>
    <%= user.authority %>
    <%= link_to user.name, user %>
    <%= link_to "[編集]", edit_user_path(user.id) %>
</li>
<% end %>
<br>
<%= paginate(@users) %>
</ul>
