<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @hospital.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Dayoftheweek:</strong>
  <%= @hospital.dayoftheweek %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @hospital.tel %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @hospital.zipcode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hospital.address %>
</p>

<p>
  <strong>Jcbflg:</strong>
  <%= @hospital.jcbflg %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @hospital.remarks %>
</p>

<p>
  <strong>Deleteflg:</strong>
  <%= @hospital.deleteflg %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
